.tab-header {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid lightgrey;

  &__label {
    display: flex;
    padding: 8px 24px;
    cursor: pointer;

    &:hover {
      border-bottom: 1px solid #d0d6e2;
    }

    &[aria-selected='true'] {
      border-bottom: 2px solid lightblue;
    }

    &[aria-disabled='true'] {
      color: grey;
      cursor: default;
    }

    &:focus:not([aria-disabled='true']) {
      background: #e1ffe4;
      outline: none;
    }
  }
}
