.tab-header {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid lightgrey;
  position: relative;

  &__label {
    display: flex;
    padding: 8px 24px;
    cursor: pointer;

    &:hover:not([aria-disabled='true']) {
      -webkit-box-shadow: 0 3px 0 0 #D8D8D8;
      box-shadow: 0 3px 0 0 #D8D8D8;
    }

    &[aria-disabled='true'] {
      color: #8e8e8e;
      cursor: default;
    }

    &:focus:not([aria-disabled='true']) {
      background: #eaecee;
      outline: none;
    }
  }

  &__active-label {
    position: relative;
    background: #9b9fff;
    height: 2px;
    transition: all ease-in-out 0.5s;
  }
}

